*{
    margin: 0;
    padding: 0;
}


.header{
    background-color: 1F2937;
    display: flex;
    flex-direction: column;
    gap: 70px;


}

.header_top{
    display: flex;
    justify-content: space-between;

}

.header_top ul {
    list-style: none;
    display: flex;
    gap: 10px;
    
}

.header_top ul li a{
    text-decoration: none;
    color: E5E7EB;
}

#header_logo{
    color: F9FAF8;
    font-weight: 900;
}


.header_bottom{
    display: flex;
    justify-content: space-between;
}

.header_bottom_first_half{
    display: flex;
    flex-direction: column;
}

#header_title{
    color: F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

#header_text{
    color: E5E7EB;
    font-size: 18px;
    text-align: left;
}

#header_button{
    color: white;
    font-weight: bolder;
    background-color: 3882f6;

    border: 2px solid 3882f6;
    border-radius: 5px;
    width: 60px;

    text-align: center;
  
}














/* .square_header{
    background-color: azure;
}

.quote_header{
    background-color: e5e7eb;
  
}

.sign_up_header{
    background-color: 3882F6;
    
}

.copyright{
    background-color: 1f2937;
    
    
}

 */
